    iframe {position: fixed;top: 0;height: 100vh;width: 100%;border: none;background-color: #2b2b2b;}
    .container {text-align: center;margin-top: 20vh;}
    .iframe-content {margin: 0;padding: 0;width: 100%;height: 100vh;display: flex;justify-content: center;align-items: center;background-color: #272822;}
    .iframe-content div {text-align: center;}
    .iframe-h3 {font-size: 24px;margin-bottom: 20px;color: #f92672;text-shadow: 0 0 10px rgba(102, 217, 239, 0.5);}
    .iframe-h1 {font-size: 48px;margin-bottom: 40px;color: #ddd;text-shadow: 0 0 10px rgba(249, 38, 114, 0.5);}
    button {padding: 10px 20px;font-size: 18px;cursor: pointer;background-color: #ff9900;color: #fff;
			border: none;border-radius: 5px;box-shadow: 0 0 10px rgba(255, 153, 0, 0.5);}
    .blue-button {background-color: #2196F3;box-shadow: 0 0 10px rgba(33, 150, 243, 0.5);}
	.blue-button:hover {background-color: #0087f3;box-shadow: 0 0 10px rgba(33, 150, 243, 0.5);}
    #main-page-button {position: absolute;bottom: 20px;right: 20px;background-color: #ff9900;box-shadow: 0 0 10px rgba(255, 153, 0, 0.5);}
	#main-page-button:hover {padding: 10px 20px;font-size: 18px;cursor: pointer;background-color: #ff6f00;color: #fff;border: none;border-radius: 5px;
			box-shadow: 0 0 10px rgba(255, 153, 0, 0.5);}
    button:hover {background-color: #cc7a00;}
    .actual-page {display: none;width: 100%;height: 97.5vh;justify-content: center;align-items: center;font-size: 24px;background-color: #272822;color: #f8f8f2;
		position: relative;text-align: center;}
    .actual-page div {margin-bottom: 60px;}
